html {
	background-color: #393e46;
}

footer {
	margin-top: 10rem;
}

h1 {
	text-align: center;
	margin: 6rem 0px 6rem 0px;
}

h2 {
	text-align: center;
	color: #fa9905;
}

h3 {
	display: inline-block;
	margin-right: 10rem;
}

p {
	color: #78c4d4;
	text-align: center;
}

a:link {
	color: #78c4d4;
	font-weight: bold;
}

a:visited {
	color: green;
	font-weight: bold;
}

.centered {
	vertical-align: middle;
	margin-left: 39%;
	text-align: center;
	height: 1px;
}

.fontColor {
	color: #f14668;
	font-family: lucida handwriting;
}

.imageContainer {
	vertical-align: middle;
	margin-left: 35%;
}

